:root {
  --color__accent: #4a8fcc;
  --color__black: #222;
  --color__gray: #949494;
  --color__primary: #191d42;
  --color__secondary: #97ca3d;
  --color__white: #f0f0f0;
  --element-gap: 1em;

  font-size: 62.5%;
}

html {
  height: 100%;
}

html > * + * {
  margin-top: 0;
}

body {
  background: var(--color__white);
  color: var(--color__black);
  display: grid;
  font-size: 1.6rem;
  grid-template-rows: minmax(100vh, 1fr) auto;
  line-height: 1.5;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: var(--element-gap);
}

ul {
  line-height: 1.25;
  list-style: none;
}

ul > * + * {
  --element-gap: 1rem;
}
