nav {
  padding-top: 2rem;
}

nav ul {
  align-items: center;
  display: grid;
  gap: 5rem;
  grid-auto-flow: column;
  justify-content: flex-start;
  list-style: none;
}

nav ul > * + * {
  margin-top: 0;
}

nav li {
  font-size: 2rem;
}

nav a {
  color: currentColor;
  display: block;
  padding-bottom: 2rem;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 4px solid var(--color__secondary);
  padding-bottom: calc(2rem - 4px);
}